<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">


    </head>
    <link th:href="@{/css/accesoPersonalRefugio.css}" rel="stylesheet" type="text/css"/>
    <title>Acceso personal del refugio</title>

    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div id="b" class="fondo">



            <div class="imagen-form-wrapper">

                <section class="container mt-5">
                    <h1 class="mb-4">[[#{panel.titulo}]]</h1>
                    <h4 class="mb-4">[[#{panel.actividad}]]</h4>
                    <form class="botonesPanel">
                        <a th:href="@{/}" class="btn custom-btn-color">[[#{panel.primerTexto}]]</a>
                        <a th:href="@{/}" class="btn custom-btn-color">[[#{panel.tercerTexto}]]</a>
                        <a th:href="@{/}" class="btn custom-btn-color">[[#{panel.segundoTexto}]]</a>
                    </form>
                </section>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>

    </body>
</html>