<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
                <h2 class="text-center mb-5">Edit Usuario</h2>

                <form method="post" enctype="multipart/form-data" th:object="${usuarioDto}">

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">ID</label>
                        <div >
                            <input type="text" class="form-control-plaintext" th:value="${usuario.id_usuario}" readonly>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Nombre</label>
                        <input type="text" class="form-control" th:field="${usuarioDto.nombre}">
                        <p th:if="${#fields.hasErrors('nombre')}" th:errorclass="text-danger" th:errors="${usuarioDto.nombre}"></p>
                    </div> 
                    
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Usuario</label>
                        <input type="text" class="form-control" th:field="${usuarioDto.nombre_usuario}">
                        <p th:if="${#fields.hasErrors('nombre_usuario')}" th:errorclass="text-danger" th:errors="${usuarioDto.nombre_usuario}"></p>
                    </div> 

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Password</label>
                        <input  class="form-control" th:field="${usuarioDto.password}">
                        <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="${usuarioDto.password}"></p>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</html>
