<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">

</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    <div class="container py-3">
        <h1 class="text-center">[[#{contenedor.agregarContenedor}]]</h1>
        <div class="container d-flex justify-content-center align-items-center ">

            <form th:action="@{/contenedor/crear}"
                  th:object="${contenedor}"
                  method="POST" >

                <label for="pesoNeto">[[#{contenedor.pesoNeto}]]</label>
                <input class="form-control" name="pesoNeto" id="pesoNeto" type="number" />

                <label for="estadoContenedor">[[#{contenedor.estadoContenedor}]]</label>
                <input class="form-control" name="estadoContenedor" id="estadoContenedor" type="text" />

                <label for="pesoMaximo">[[#{contenedor.pesoMaximo}]]</label>
                <input class="form-control" name="pesoMaximo" id="pesoMaximo" type="number" />

                <label for="idAlmacen">[[#{contenedor.almacen}]]</label>
                <input class="form-control" name="idAlmacen" id="idAlmacen" type="number" />

                <label for="idBuque">[[#{contenedor.buque}]]</label>
                <input class="form-control" name="idBuque" id="idBuque" type="number" />

                <label for="IdProducto">producto</label>
                <input class="form-control" name="IdProducto" id="IdProducto" type="number" />

               <button type="submit" class="btn btn-success">[[#{accion.agregar}]]</button>
            </form>
        </div>
    </div>
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>