<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">

</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    <div class="container py-3">
        <h1 class="text-center">Editar producto del contenedor</h1>
        <div class="container d-flex justify-content-center align-items-center ">

            <form action="" method="POST" >

                <label for="productoID">Producto</label>
                <input class="form-control" name="productoID" id="productoID" type="number" />


                <button type="submit" class="py-2 btn btn-success">Subir cambios</button>
            </form>
        </div>
    </div>
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>